#lectureDiv{
  position: absolute;
  width: 80px;
  font-family: 400 .8em "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin-left: 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#lectureDiv:hover{
  filter: brightness(80%);
}
#lectureGrid{
  border: 1px solid #ccc; 
  background-color: #efede3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#lectureName{
  color: #00748b;
  font: 700 .8em "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}
#lecturePlace{
  color:darkgray;
}
#TableHeadGrid{
  font: 700 .8em "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}